html {
    height: 100%;
}
body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}
a{
    color: rgb(200, 200, 200);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p{
    color: rgb(20, 20, 20);
    text-decoration: none;
}
/* html */
