<div class="side-header"><h1>Themes</h1></div>

<div class="side-item">

    <ul class="list">

        <li class="list-title">Blog</li>
        <li class="list-item"><a onclick="about();" style="cursor: pointer;">About</a></li>
        <li class="list-item"><a onclick="post();" style="cursor: pointer;">Post</a></li>

    </ul>

</div>

<div class="side-item">

    <ul class="list">

        <li class="list-title">Item</li>
        <li class="list-item"><a>Html Theme</a></li>
        <li class="list-item"><a>Java</a></li>

    </ul>

</div>