/* _includes/footer.html */
.footer-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e9e7e8;
}
.footer {
  > .container {
    margin-bottom: 1rem;
  }
}
.footer-item {
  color: #6c6a6b;
  display: grid;
  text-align: right;
  font-size: 0.8rem;
}
.footer-link {
  color: #6c6a6b;
  &:hover {
    text-decoration: underline;
  }
}
